<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=10.20.0.49;Initial Catalog=EPS.Production;Persist Security Info=True;User ID=sa;Password=Key4SqlServer" providerName="System.Data.SqlClient"/>
    <add name="EPSConnectionString" connectionString="Data Source=10.20.0.49;Initial Catalog=EPS.Production;Persist Security Info=True;User ID=sa;Password=Key4SqlServer;;Min Pool Size=5; Max Pool Size=20; timeout=120;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <system.web>
    <sessionState timeout="60" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership userIsOnlineTimeWindow="2">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1000"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
      <properties>
        <clear/>
        <add name="EmployeeId" defaultValue=""/>
        <add name="FirstName" defaultValue=""/>
        <add name="LastName" defaultValue=""/>
        <add name="UserName" defaultValue=""/>
        <add name="LocationId" type="Int32" />
        <add name="LoggedOnId" type="Int64" />
        <add name="ClientProjectId" type="Int32" />
        <add name="LevelNumber" type="Int32" />
        <add name="IsAdmin" type="Boolean" />
        <add name="IsReportUser" type="Boolean" />

        <add name="Client" defaultValue=""/>
        <add name="Project" defaultValue=""/>
        <add name="Queue" defaultValue=""/>
        <add name="QueueKey" defaultValue=""/>
        <add name="ClientKey" defaultValue=""/>
        <add name="ProjectKey" defaultValue=""/>
        <add name="DisplayName" defaultValue=""/>
        <add name="ClientReferenceLabel" defaultValue=""/>
        <add name="IsByDxCode" type="Boolean" />
        <add name="IsL1Auto" type="Boolean" />
        <add name="IsL2Auto" type="Boolean" />
        <add name="IsL3Auto" type="Boolean" />
      </properties>
    </profile>
    <roleManager>
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1900000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="passwordExpiryPeriod" value="20" />
    <add key="perviousPasswordCount" value="3" />
    <add key="SecurityKey" value="heLP4me$" />
    <add key="ConnectionTimeout" value="200" />
    <add key="BulkUploadForDeallocationLimit" value="5000" />
    <add key ="EPSSysUserName" value="EpiSysUser"/>
    <add key="ClientKey" value="1000000023,1000000054"/>

    <!-- ReCAPTCHA Helper Starts-->             
    <add key="CAPTCHAUrl" value="https://www.google.com/recaptcha/api/siteverify?secret=6Lc64SETAAAAABMwAbUsx2eq-qAnKjPEQ55FZcMU"/>    
    
    
    <add key="CAPTCHAResponse" value="response"/>
    <!-- ReCAPTCHA Helper Ends-->

    <!-- Email Settings Starts-->
    <add key="SmtpUser" value="apps@episource.com"/>
    <add key="SmtpPwd" value="Ep!Apps@1961"/>
    <add key="SupportMail" value="tanveer@episource.com"/>
    <add key="MailFrom" value="apps@episource.com"/>
    <!-- Email Settings Ends-->
    
    <!-- Email Config Starts Here-->
    <add key="EmailHost_India" value="10.20.0.37" />
    <add key="EmailSSL_India" value="false" />
    <add key="EmailPort_India" value="25" />
    <add key="EmailUserName_India" value="epsproduction@episourceindia.com" />
    <add key="EmailPassword_India" value="Episource123" />
    <add key="EmailFrom_India" value="epsproduction@episourceindia.com" />
    <add key="EmailFromDisplayName_India" value="EPS" />

    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailSSL" value="true" />
    <add key="EmailPort" value="587" />
    <add key="EmailUserName" value="apps@episource.com" />
    <add key="EmailPassword" value="Ep!Apps@1961" />
    <add key="EmailFrom" value="apps@episource.com" />
    <add key="EmailFromDisplayName" value="EPS" />
    <!-- Email Config Ends Here-->

  </appSettings>
</configuration>